[user]
	name = Louis Ye
	email = lyuyu.ye@gmail.com
[alias]
	lg = log --graph --pretty=format:'%C(yellow)%d%Creset %C(cyan)%h%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=short --all
	lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
	showfl = !"git show --pretty=\"format:\" --name-only"
	stu = status -uno
	st = status
	ck = checkout
	br = branch

[push]
	default = simple
[core]
	editor = vim
