[submodule "Vim/.vim/bundle/vim-gitgutter"]
	path = Vim/.vim/bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "Vim/.vim/bundle/tcomment_vim"]
	path = Vim/.vim/bundle/tcomment_vim
	url = https://github.com/tomtom/tcomment_vim.git
[submodule "Vim/.vim/bundle/nerdtree"]
	path = Vim/.vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "Vim/.vim/bundle/ctrlp.vim"]
	path = Vim/.vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git

[submodule "Vim/.vim/bundle/vim-polyglot"]
	path = Vim/.vim/bundle/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot
